In [4]:
import pandas as pd
import json

In [16]:
taxes = pd.read_json('https://query.data.world/s/sklfpspe5frv4kgoi757numesnwlvl')
taxes.describe()
taxes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166686 entries, 0 to 166685
Data columns (total 12 columns):
A00100      166686 non-null int64
A02300      166686 non-null int64
A02500      166686 non-null int64
A04800      166686 non-null int64
A18300      166686 non-null int64
MARS2       166686 non-null int64
MARS4       166686 non-null int64
NUMDEP      166686 non-null int64
STATE       166686 non-null object
agi_stub    166686 non-null int64
mars1       166686 non-null int64
zipcode     166686 non-null int64
dtypes: int64(11), object(1)
memory usage: 15.3+ MB

In [18]:
taxes.head()

,A00100,A02300,A02500,A04800,A18300,MARS2,MARS4,NUMDEP,STATE,agi_stub,mars1,zipcode
0,11004990,97553,64407,1830923,72527,115070,240450,548630,AL,1,481840,0
1,17658446,52682,560917,8618302,240950,150290,125560,375670,AL,2,200750,0
2,15963943,27490,882812,10205184,329474,142970,34070,186770,AL,3,75820,0
3,14294375,16508,793454,10045399,361954,125410,10390,133020,AL,4,26730,0
4,27387096,17488,1038902,21014718,982577,177070,5860,185150,AL,5,18990,0

In [23]:
taxes.rename({"A00100":"AGI", "A02300":"UnempComp", "A02500":"TaxSS", "A04800":"TaxInc", "A18300":"TaxPaid", "MARS2":"Joint", "MARS4":"HoH", "NUMDEP":"Dep", "STATE":"ST", "agi_stub":"agiBucket", 'mars1':'Single', 'zipcode':'zip'}, axis = 'columns')

,AGI,UnempComp,TaxSS,TaxInc,TaxPaid,Joint,HoH,Dep,ST,agiBucket,Single,zip
0,11004990,97553,64407,1830923,72527,115070,240450,548630,AL,1,481840,0
1,17658446,52682,560917,8618302,240950,150290,125560,375670,AL,2,200750,0
2,15963943,27490,882812,10205184,329474,142970,34070,186770,AL,3,75820,0
3,14294375,16508,793454,10045399,361954,125410,10390,133020,AL,4,26730,0
4,27387096,17488,1038902,21014718,982577,177070,5860,185150,AL,5,18990,0
5,22652783,1842,292923,19692443,962132,45860,910,50820,AL,6,4160,0
6,19419,160,152,4003,172,230,270,660,AL,1,970,35004
7,47683,110,1416,25244,749,370,270,800,AL,2,590,35004
8,56761,103,2254,36673,1325,510,110,650,AL,3,280,35004
9,54677,132,1927,38665,1493,490,50,530,AL,4,100,35004
10,74554,0,1796,56931,2766,530,0,550,AL,5,40,35004
11,16122,0,0,13418,711,50,0,30,AL,6,0,35004
12,18292,176,148,3152,176,190,380,900,AL,1,770,35005
13,37067,77,1226,17970,741,280,320,780,AL,2,400,35005
14,27889,45,1352,17559,838,210,100,350,AL,3,140,35005
15,19099,0,727,13577,474,170,40,160,AL,4,40,35005
16,24354,0,590,18886,849,150,0,170,AL,5,0,35005
17,0,0,0,0,0,0,0,0,AL,6,0,35005
18,5874,67,76,1157,41,100,70,190,AL,1,280,35006
19,11632,0,505,5291,99,150,60,260,AL,2,110,35006
20,11847,55,559,7668,177,120,30,160,AL,3,40,35006
21,11119,0,646,7876,205,110,0,100,AL,4,20,35006
22,19475,0,450,15341,575,140,0,140,AL,5,0,35006
23,0,0,0,0,0,0,0,0,AL,6,0,35006
24,49855,306,285,9561,450,570,800,2060,AL,1,2730,35007
25,97166,219,3229,47999,1779,830,570,2030,AL,2,1120,35007
26,115565,174,5199,73191,2882,1050,230,1550,AL,3,530,35007
27,122718,141,4829,85264,3597,1120,90,1390,AL,4,180,35007
28,221435,106,6532,168962,8204,1530,60,1830,AL,5,120,35007
29,71763,0,832,62320,2598,200,0,250,AL,6,0,35007
...,...,...,...,...,...,...,...,...,...,...,...,...
166656,585,0,0,0,54,30,0,20,WY,1,40,83126
166657,938,0,364,513,0,0,0,0,WY,2,0,83126
166658,2081,0,0,1108,0,50,0,50,WY,3,0,83126
166659,1680,0,0,1106,101,0,0,30,WY,4,0,83126
166660,3501,0,0,2637,0,20,0,50,WY,5,0,83126
166661,0,0,0,0,0,0,0,0,WY,6,0,83126
166662,4534,0,84,742,117,90,40,120,WY,1,240,83127
166663,10664,221,578,5014,195,150,40,190,WY,2,100,83127
166664,15776,0,1351,9710,442,170,0,180,WY,3,70,83127
166665,15763,108,1277,10837,395,150,0,150,WY,4,30,83127
166666,26423,0,2096,19967,743,180,0,120,WY,5,20,83127
166667,28903,0,704,26315,799,50,0,30,WY,6,0,83127
166668,3168,0,0,799,47,30,30,60,WY,1,190,83128
166669,7391,157,167,3902,135,60,30,90,WY,2,120,83128
166670,9440,101,747,5985,185,90,0,100,WY,3,50,83128
166671,6960,0,0,4936,127,70,0,50,WY,4,0,83128
166672,13362,0,1052,10273,399,90,0,70,WY,5,20,83128
166673,24701,0,0,21061,971,40,0,0,WY,6,0,83128
166674,514,0,275,117,0,20,0,0,WY,1,40,83414
166675,1397,0,0,601,0,0,0,60,WY,2,20,83414
166676,1287,0,0,759,193,30,0,0,WY,3,0,83414
166677,2201,0,0,1372,0,0,0,20,WY,4,20,83414
166678,4306,0,549,3139,185,20,0,30,WY,5,0,83414
166679,16641,0,0,14906,856,30,0,0,WY,6,0,83414
166680,90822,1181,584,22797,630,810,900,2490,WY,1,5340,99999
166681,211177,1902,5496,114452,1769,1410,870,3970,WY,2,3320,99999
166682,221244,939,9428,148181,2379,1660,320,2640,WY,3,1530,99999
166683,223022,427,8995,163884,2913,1660,130,1920,WY,4,780,99999
166684,420641,428,13108,333833,7458,2530,110,2510,WY,5,540,99999
166685,420641,428,13108,333833,7458,2530,110,2510,WY,5,540,99999